.circle-1,
.circle-2,
.circle-3,
.circle-4,
.circle-active {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.circle-1.active,
.circle-2.active,
.circle-3.active,
.circle-4.active {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

.circle-active {
    position: absolute;
    border: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.bubble {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
}

.icon {
    color: white;
    height: 100%;
    width: 100%;
    padding: 7px;
}

.circle-container {
    background: rgba(0, 0, 0, 0.0);
    position: fixed;
    width: 100%;
    height: 125px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .circle-container {
        flex-direction: column;
        width: 125px;
        height: 100%;
    }

    .circle-1,
    .circle-2,
    .circle-3,
    .circle-4,
    .circle-active {
        margin: 20px 0;
    }

    .circle-1:hover,
    .circle-2:hover,
    .circle-3:hover,
    .circle-4:hover {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        transform: scale(1.1);
        transition: all 0.3s ease;
    }

    .icon-label {
        position: absolute;
        left: 40px;
        opacity: 1;
        white-space: nowrap;
        color: white;
        font-size: 14px;

    }

    .circle-1.active .icon-label,
    .circle-2.active .icon-label,
    .circle-3.active .icon-label,
    .circle-4.active .icon-label {
        display: none;
    }
}